.container {
    display: flex !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
    margin-top: 10px;
    
}
li :hover{
    color: #5C5C5C;
}

.navbar {
    background-color: black;
    color: #fff;
}

.navbar-list {
    max-width: 30%;
    list-style: none;
    padding-right: 30px;
}

.navbar-list ul li :hover{
    background-color: #5C5C5C;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: auto 60px;
    max-width: 90%;
}
.content_1{
    background-color: #EFEFEF;
    padding: 20px 70px;
}

.content_2{
    display: flex;
}

.content_2-item{
    display: flex;
    flex-direction: column;
    margin: auto 20px;
}
.text-img{
    margin-top: 10px;
    display: flex;
}

.img-text{
    width: 70px;
    max-height: 70px;
}
.text-img ::before{

}